
#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}
.in{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
}
#A{
    background-color: red;
}
#B{
    background-color: yellow;
}
#C{
    background-color: green;
}
