h1{
    color: rgb(255,255,255);
    background-color: #fff;
    /* ansers is white color */
}

p{
    background-color: rgb(241, 187, 6);
    /* background-color: #f1bb06; */

    color: rgb(11, 168, 241);
    /* color: #0ba8f1; */
}
