
section {
    margin-top: 100px;
}

div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}
div:nth-of-type(2n) {
    background-color: #f7db6a;
}

div:nth-last-of-type(3n) {
    background-color: #eeaa17;
}

/* transform */

#one {
    transform: rotate(45deg);
}

#two {
    transform: scale(2);
    /* transform: scalex(.5); */
    transform: scaley(.5);
}

#three {
    /* transform: translate(100px,100px); */
    transform: translatex(100px);
    /* transform: translatey(100px); */
}

#four {
    transform: skew(30deg);
}

#five {
    transform: rotate(30deg) translatex(150px);
}

