button:hover {
  background-color: yellow;
  color: blue;
}
P:nth-of-type(2n) {
  color: yellow;
}
h1::first-letter {
  color: red;
}
#yes:checked + label {
  color: darkgreen;
}


/* button:hover {
  background-color: yellow;
  color: blue;
} 
p:nth-of-type(2n) { 
   color: yellow; 
}
h1::first-letter {
  color: red;
}
#yes:checked + label {
  color: darkgreen;
}
*/